footer {
    background-color: #303030;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}

footer h4 {
    padding: 1em;
    color: #ffd9af;
}

#menu {
    padding: 0.3em;
    opacity: 0.7;
    background-color: pink;

}

#menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}
#menu img {
    width: 4em;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: large;
    font-family: Monteserrat, sans-serif;
}

#menu ul li a:hover {
    color:white;
}