@media only screen and (max-width: 665px) {
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #menu ul li a {
        display: none;
    }
    #menu ul li .fa-bars {
        display: block;
    }
}

@media only screen and (min-width: 665px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #menu ul li .fa-bars {
        display: none;
    }

}

.footer {
    background-color: #303030;
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
}

.footer h4 {
    padding: 1em;
    color: #ffd9af;
}

.footer h5, h6 {
    color: white
}

.footer i {
    margin-right: 5px;
}

.footer ul {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    /* text-transform: uppercase; */
    color: white;
    /* font-size: large; */
    font-family: Monteserrat, sans-serif;
}

.footer .rights {
    background-color: red;
}

#menu {
    padding: 0.3em;
    opacity: 0.7;
    background-color: pink;
}

#menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

#menu img {
    width: 4em;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: large;
    font-family: Monteserrat, sans-serif;
}

#menu ul li a:hover {
    color: white;
}
