@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
/*font-family: 'Akaya Kanadaka', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*font-family: 'Lobster', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*font-family: 'Pacifico', cursive;*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 35px;
    font-family: 'Lobster';
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Lobster';
    font-size: 20px;
}

.banner {
    border-radius: 25px;
    display: inline-table;
    max-width: 1000px;
    padding: 20px;
    margin: 30px 20px;
    background-color: #FEDBDB;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: all 0.2s ease;
}

.product-photo {
    border-radius: 25px;
    width: 100%;
    height: 300px;
    margin-right: 15px;
    object-fit: cover;
    object-position: center;
}

#imagemfundo {
    text-align: center;
    height: 100%;
}

button {
    /* background-color: pink;
        border-radius: 30%;
        font-size: 16px;
        margin: 4px 2px; */
    cursor: pointer;
    background: #FB3FDE;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    padding: 15px 20px 14px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    transition: all 0.2s ease;
}