@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap'); /*font-family: 'Akaya Kanadaka', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /*font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /*font-family: 'Pacifico', cursive;*/
 
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
h2 {
    font-family: 'Lobster', cursive;
}

.title {
    border-radius: 25px;
    align-content: center;
    text-align: center;
    font-weight: normal;
    margin: 30px 25px;
    padding: 4px;
    background-color: pink;
    font-size: 3.0rem;
    font-family: 'Lobster', cursive;
}

.cardapio {
    font-family: 'Lobster', cursive;
    margin: 0;
    text-align: center;
}

.product:hover {
    cursor: pointer;
    background-color: pink;
}

body {
    background-image: url("../fotos/background.jpg");
    background-size: auto;
    background-position: center;
}

.productescolhido {
    border-radius: 25px;
    display: inline-table;
    max-width: 1000px;
    padding: 20px;
    margin: 30px 220px;
    background-color:  #FEDBDB;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    overflow:hidden;
    transition: all 0.2s ease;
}

.escolhidofoto {
    border-radius: 25px;
    float: left;
    width: 40%;
    margin-right: 15px;
}

p{
    font-family: 'Lobster', cursive;
    text-align: center;
}

button{
    box-shadow: none;
    background-color: #facfcf;

}
input[type=number]{ border-radius:4px;
    text-align: center;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px pink;
    -moz-box-shadow: 1px 1px 2px pink;
    -webkit-box-shadow: 1px 1px 2px pink;
    background: #facfcf; 
    border:1px solid pink;
    width: 35px;
    margin: 5px;
}
input[type=submit]{ border-radius:4px;
    text-align: center;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px pink;
    -moz-box-shadow: 1px 1px 2px pink;
    -webkit-box-shadow: 1px 1px 2px pink;
    background: #facfcf; 
    border:1px solid pink;
    width: 60px;
   margin:20px 230px;

}
